/* Application specific CSS */
/* Map Component */
.leaflet-container {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}

.current-user-div-icon {
  width: 18px !important;
  height: 18px !important;
  background-color: #5a43c8;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  border: solid 2px #ffffff;
}

.friend-div-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}

.friend-div-circle {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  height: 100%;
}

.navbar-map {
  /*position: relative;*/
  height: 100%;
  z-index: 0;
}

.my-div-icon {
  /*background:url('http://i.imgur.com/fSL4zE3.png') center no-repeat;*/
}

.leaflet-left {
  margin-top: 70px;
}

/* Chat Input*/
footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}

footer .input-field input {
  border-color: #FFFFFF;
}

.blackFooter {
  background-color: #505050;
  height: 4.5em
}

.chip {
  font-style: italic;
}

/* Css for Navigation Bar*/
input[type=text] {
  border-bottom: none;
  margin: 0;
  height: 3.2rem;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: none;
  border-color: transparent;
  box-shadow: none;
}

#input_search_bar {
  color: white;
}

button:focus {
  background-color: transparent;
}

/* ChatHistory styles */

.mui-row {
  width: 100%;
}

body {
  background-color: #363636;
}

.collection {
  border: none;
  margin-bottom: 50px;
  margin-top: -1px;
}

.message-date {
  color: #585858;
}

.message-container {
  height: 100vh;
  flex-direction: column;
}

.message-container, .message-form {
  display: flex;
}

.message-form {
  flex: 1;
  max-height: 136px;
  background-color: #009688 !important;
  color: white;
}

.message-list {
  flex: 1;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.message-form .input-field input {
  border-color: #FFFFFF;
}

.chip {
  font-style: italic;
}

.mdi-communication-chat {
  color: white;
}

.collection .collection-item {
  border-color: #EEEEEE
}

/*.collection .collection-item.avatar{*/
/*min-height: !important;*/
/*!*overflow:auto;*!*/
/*}*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* -------- Online user list ---------- */
/* For Chat User*/
.empty-div {
  height: 80px;
}

.online-user-list {
  height: 68px;
  display: flex;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.8);
  border: none;
  position: fixed;
  z-index: 9999;
  /*-webkit-backdrop-filter: blur(5px);*/
  /*-moz-filter: blur(5px);*/
  /*-o-filter: blur(5px);*/
  /*-ms-filter: blur(5px);*/
  /*filter: blur(5px);*/
  /*background: -webkit-gradient(linear, 0% 100%, 100% 24%, from(#771BD3), to(#6AA3F7)) !important;*/
}

.seach-navbar {
  height: 68px;
  display: flex;
  align-items: center;
  border: none;
  position: fixed;
  z-index: 10;
  background: -webkit-gradient(linear, 0% 100%, 100% 24%, from(#771BD3), to(#6AA3F7)) !important;
  -webkit-transition: all .2s;
  -webkit-animation: all .2s;
  -moz-animation: all .2s;
  -o-animation: all .2s;
  -ms-animation: all .2s;
  animation: all .2s;
}

.navbar-transition-search {
  display: flex;
  align-items: center;
  background: white !important;
  z-index: 11;
}

.online-user-map {
  height: 68px;
  display: flex;
  align-items: center;
  position: fixed;
  background: transparent !important;
}

.online-users-number {
  color: white;
  margin-left: 15px !important;
  margin-right: 0 !important;
  padding: 0;
}

.online-users-number i {
  font-size: 50px;
  padding-right: 10px;
}

/*Button for Navbar*/
/*.toggle-button-col {*/
/*margin-left: 5%;*/
/*}*/

.toggle-button-div-chat {
  background-image: url('http://i.imgur.com/xI1lvXE.png');
   background-size: 1.7em;
   background-repeat: no-repeat;
   background-position: center;
   background-size:1.7em;
   border-radius: 50%;
   width: 44px;
   height: 44px;
   margin-top: 4px;
   background-color: #6359df;
   border: none;
   box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 2s;
  /*-webkit-transition: -webkit-animation 2s;*/
  /*-webkit-animation: MyAnimation 2s !important;*/
  /*-moz-animation: all .5s;*/
  /*-o-animation: all .5s;*/
  /*-ms-animation: all .5s;*/
  /*animation: MyAnimation 2s !important;*/

   /*transform: scale(0.01);*/
   /*-ms-transform: scale(0.01);*/
   /*-webkit-transform: scale(0.01);*/
 }

@-webkit-keyframes MyAnimation {
  0% { margin-top: 200px; }
  50% { left: 0px; }
  100% { left: 200px; }
}
@keyframes MyAnimation {
  0% { margin-top: 200px; }
  50% { left: 0px; }
  100% { left: 200px; }
}


.toggle-button-div-chat.animate{
  animation: toggleanimation .5s;
}


  /*.toggle-button-div-chat.transition {*/
  /*transform: scale(1);*/
  /*-ms-transform: scale(1);*/
  /*-webkit-transform: scale(1);*/
/*}*/

.toggle-button-div-map {
  background-image: url('http://i.imgur.com/kVE8DIZ.png');
  background-size: 1.7em;
  background-repeat: no-repeat;
  background-position: center;
  background-size:1.7em;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  margin-top: 4px;
  background-color: #6359df;
  -webkit-transition: all .5s;
  -webkit-animation: all .5s;
  -moz-animation: all .5s;
  -o-animation: all .5s;
  -ms-animation: all .5s;
  animation: all .5s;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}


.toggle-button-div-map.animate{
  -webkit-transition: toggleanimation .5s;
  -webkit-animation: toggleanimation .5s;
  -moz-animation: toggleanimation .5s;
  -o-animation: toggleanimation .5s;
  -ms-animation: toggleanimation .5s;
  animation: toggleanimation .5s;
}

@-webkit-keyframes toggleanimation {
  0% {
    background-size: 0;
  }
  100% {
    background-size: 1.7em;
  }
}

@keyframes toggleanimation {
  0% {
    background-size: 0;
  }
  100% {
    background-size: 1.7em;
  }
}


.toggle-button-div-map.initial {
  margin-left: 100px;
  opacity: 0;
}

.toggle-button-div-map.transition {
  margin-left: 0;
  opacity: 1;
}

.toggle-button-div-map.fade-out {
  opacity:0;
}

/*.toggle-button-div-chat {*/
  /*background-image: url('http://i.imgur.com/xI1lvXE.png');*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*border-radius: 50%;*/
  /*width: 44px;*/
  /*height: 44px;*/
  /*margin-top: 2px;*/

  /*background-color: #6359df;*/
  /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);*/
/*}*/

.search-button-div-map {
  margin-left: 15px;
  border: none;
  background-image: url('http://i.imgur.com/kVE8DIZ.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 1.8em;
  height: 1.8em;
  background-color: transparent;
  background-size: 1.8em;
}

.search-button-div-list {
  margin-left: 15px;
  border: none;
  background-image: url('http://i.imgur.com/Ji6wdWH.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 1.6em;
  height: 1.6em;
  background-color: transparent;
  background-size: 1.6em;
}

.textSearch.initial {
  border-radius: 0;
  margin-left: 0;
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  position: fixed;
  z-index: 11;
  background-color: #ffffff;
  -webkit-transition: all .5s;
}

.textSearch {
  border-radius: 30px;
  background-color: #ffffff;
  height: 44px;
  box-shadow: 0 0 5px 0 rgba(54, 54, 54, 0.24);
  padding: -20px;
  -webkit-transition: all .5s;
  -webkit-animation: all .5s;
  -moz-animation: all .5s;
  -o-animation: all .5s;
  -ms-animation: all .5s;
  animation: all .5s;
}

.movetext {
  background-color: black;
}

.textSearch-transition-navbar {
  border-radius: 0;
  margin-left: -15%;
  height: 68px;
  width: 150%;
  display: flex;
  align-items: center;
  border: none;
  position: fixed;
  z-index: 100000000;;
  background: -webkit-gradient(linear, 0% 100%, 100% 24%, from(#771BD3), to(#6AA3F7)) !important;
}

.textSearch-search-nav {
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: all 1s;
}

.textSearch-search-nav-transition {
  border-radius: 30px;
  width: 66.66667%;
  margin-left: -5%;
  background-color: #ffffff;
  height: 44px;
  padding: -20px;
  box-shadow: 0 0 5px 0 rgba(54, 54, 54, 0.24);
}

.textSearch-map {
  border-radius: 30px;
  background-color: #ffffff;
  height: 44px;
  box-shadow: 0 0 5px 0 rgba(54, 54, 54, 0.24);
  padding: -20px;
  -webkit-transition: all .5s;
  -webkit-animation: all .5s;
  -moz-animation: all .5s;
  -o-animation: all .5s;
  -ms-animation: all .5s;
  animation: all .5s;
}

.textSearch-map-transition{
  border-radius: 0;
  margin-left: -15%;
  height: 68px;
  width: 150%;
  display: flex;
  align-items: center;
  border: none;
  position: fixed;
  z-index: 11;;
  background: -webkit-gradient(linear, 0% 100%, 100% 24%, from(#771BD3), to(#6AA3F7)) !important;
}

/* For Chat Message*/
.talk-bubble {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 10px;
  background-color: #505050;
  color: white
}

.talk-bubble-me {
  right: 12px;
  float: right;
  clear: right;
  display: inline-block;
  height: auto;
  padding: 10px;
  background-color: #6359df;
  color: #fff
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  left: -14px;
  top: 12px;
  bottom: auto;
  border: 8px solid;
  border-color: transparent #505050 transparent transparent

}

.chat-button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  border-radius: 2px;
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 6px;
  top: 22px;
  bottom: auto;
  border: 8px solid;
  border-color: transparent transparent transparent #6359df;
}

.round {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.button-back {
  border: none;
  background-image: url('http://i.imgur.com/JSIFLni.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 1.4em;
  height: 1.4em;
  background-size: 1.4em auto;
  background-color: transparent;
}

.font-searchlist {
  color: white;
}

.item-share {
  position: absolute;
  opacity: 0;
  top: 50%;
  right: 10%;
}

.item-shared {
  position: absolute;
  opacity: 1;
  top: 50%;
  right: 10%;
}

/*this is for searched lists and cards*/

.subhead {
  color: white;
  font-weight: 100;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.sk-cube1, .sk-cube2 {
  background-color: white;
}

.add-height {
  height: 68px;
}

.map-current-location {
  text-align: center;
  margin-top: 70px;

  margin-left:20px;
  vertical-align: middle;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: #6359df;
  border-radius: 99%;
  z-index: 999;
}

.map-chat-notif {
  background-color: rgba(20, 20, 20, 0.8);
  width: 90%;
  height: 50px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  bottom: 12px;
  text-align: center;
  left: 5%;
  z-index: 99;
  opacity: 0;
  box-shadow: 0 0 5px 0 rgba(54, 54, 54, 0.24);
  -webkit-transition: all 2s; /* Safari */
  -webkit-animation: all .2s;
  -moz-animation: all .2s;
  -o-animation: all .2s;
  -ms-animation: all .2s;
  animation: all .2s;
  transition: all .2s;
}

.map-chat-notif.transition{
  opacity: 1;
}

.map-chat-notif p {
  padding: 10px;
  vertical-align: middle;
  font-size: 12pt;
  font-weight: 400;
  color: #fff !important;
  -webkit-transition: all .1s; /* Safari */
  -webkit-animation: all .1s;
  -moz-animation: all .1s;
  -o-animation: all .1s;
  -ms-animation: all .1s;
  animation: fontbulger 3s infinite;
  -webkit-animation-duration: 3s;
}

@keyframes fontbulger {
  0% {
      transform: translate(0, 20px);
      opacity: 0;
    }
  2% {
    transform: translate(0, 0px);
    opacity: 1;
  }
  95% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.notiGradient {
  height: 0px;
  width: 100%;
  bottom: 0%;
  position: absolute;
  z-index: 90;
  background: rgba(93, 118, 240, 0);
  background: -moz-linear-gradient(top, rgba(93, 118, 240, 0) 0%, rgba(82, 52, 247, 0) 0%, rgba(127, 93, 240, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(93, 118, 240, 0)), color-stop(0%, rgba(82, 52, 247, 0)), color-stop(100%, rgba(127, 93, 240, 1)));
  background: -webkit-linear-gradient(top, rgba(93, 118, 240, 0) 0%, rgba(82, 52, 247, 0) 0%, rgba(127, 93, 240, 1) 100%);
  background: -o-linear-gradient(top, rgba(93, 118, 240, 0) 0%, rgba(82, 52, 247, 0) 0%, rgba(127, 93, 240, 1) 100%);
  background: -ms-linear-gradient(top, rgba(93, 118, 240, 0) 0%, rgba(82, 52, 247, 0) 0%, rgba(127, 93, 240, 1) 100%);
  background: linear-gradient(to bottom, rgba(93, 118, 240, 0) 0%, rgba(82, 52, 247, 0) 0%, rgba(127, 93, 240, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d76f0', endColorstr='#7f5df0', GradientType=0);
  -webkit-transition: all .2s; /* Safari */
  -webkit-animation: all .2s;
  -moz-animation: all .2s;
  -o-animation: all .2s;
  -ms-animation: all .2s;
  animation: all .2s;
  opacity: 0;
}

.notiGradient.transition{
  height: 100px;
  opacity: 1;
}

.leaflet-popup-content-wrapper {
  background: #3c268d;
  color: #fff;

}

.leaflet-popup-close-button {
  color: rgba(255, 255, 255, 0.3);
}

.leaflet-popup-tip-container {
  display: none;
}

.markername {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 0;
  margin-bottom: 0em;
}

.navbar-map-search {
  position: absolute;
  z-index: 100;
  top: 65%;
  zoom: 0.95; /* Old IE only */
  -webkit-transition: -webkit-transform .3s;
  -moz-transform: scale(0.92);
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
  -webkit-animation: all .3s;
  -moz-animation: all .3s;
  -o-animation: all .3s;
  -ms-animation: all .3s;
  animation: all .3s;
}

.navbar-map-list {
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.3s;
  -webkit-animation: all 0.3s;
  -moz-animation: all 0.3s;
  -o-animation: all 0.3s;
  -ms-animation: all 0.3s;
  animation: all 0.3s;


}

.list-small {
  top: 65%;
  zoom: 0.95; /* Old IE only */
  -moz-transform: scale(0.92);
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}

.list-full {
  top: 10%;
  zoom: 1; /* Old IE only */
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.list-full-nav {
  top: 11%;
  zoom: 1; /* Old IE only */
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.seach-navbar-mapsearch {
  height: 68px;
  display: flex;
  border: none;
  z-index: 100000000;;
  background: -webkit-gradient(linear, 0% 100%, 100% 24%, from(#771BD3), to(#6AA3F7)) !important;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
