/* Application specific CSS */
.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.current-user-div-icon{
  width: 12px;
  height: 12px;
  background-color: #5a43c8;
  border-radius: 25px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  border: solid 1px #ffffff;
}

.my-div-icon{
  /*background:url('http://i.imgur.com/fSL4zE3.png') center no-repeat;*/
}

footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}

footer .input-field input{
  border-color: #FFFFFF;
}

.chip {
  font-style: italic;
}

/* ChatHistory styles */

.collection {
  margin-bottom: 130px;
  margin-top: -1px;
}

.message-date {
  color: #585858;
}

body {
  background: #EEEEEE;
}

.message-container {
  height: 100vh;
  flex-direction: column;
}
.message-container, .message-form {
  display: flex;
}
.message-form {
  flex: 1;
  max-height: 136px;
  background-color: #009688 !important;
  color: white;
}
.message-list {
  flex: 1;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.message-form .input-field input {
  border-color: #FFFFFF;
}
.chip {
  font-style: italic;
}
.mdi-communication-chat {
  color: white;
}
.collection .collection-item {
  border-color: #EEEEEE
}
/* -------- Online user list ---------- */
/* For Chat User*/
.online-user-list {
  height: 68px;
  display:flex;
  align-items:center;
  background: -webkit-gradient(linear, 0% 100%, 100% 24%, from(#771BD3), to(#6AA3F7)) !important;
}

.online-users-number{
  color: white;
}
.online-users-number i{
  font-size: 50px;
  padding-right: 10px;
}

/*Button for Navbar*/
.toggle-button-col{
  padding-left:30px;
}

.toggle-button-div-chat{
  background-image: url('http://i.imgur.com/kVE8DIZ.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #6359df;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.toggle-button-div-map{
   background-image: url('http://i.imgur.com/kVE8DIZ.png');
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   background-color: #6359df;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
 }

.toggle-button-div-chat{
  background-image: url('http://i.imgur.com/xI1lvXE.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #6359df;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.search-button-div-map{
  border: none;
  background-image: url('http://i.imgur.com/kVE8DIZ.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.search-button-div-list{
  border: none;
  background-image: url('http://i.imgur.com/Ji6wdWH.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.textSearch{
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(54, 54, 54, 0.24);
  padding: -20px;
}

/* For Chat Message*/
.talk-bubble {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.talk-bubble-me {
  float: right;
  position: absolute;
  display: inline-block;
  right: 11px;
  height: auto;
  padding: 10px;
  background-color: white;
}

.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  right: auto;
  bottom: auto;
  border: 11px solid;
  border-color: white transparent transparent transparent;
}

.chat-button{
  background: royalblue
}

/* for my chat*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: transparent transparent transparent white;
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -12px;
  top: 2px;
  bottom: auto;
  border: 8px solid;
  border-color: transparent transparent transparent white;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.button-back{
  border: none;
  background-image: url('http://i.imgur.com/JSIFLni.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.font-searchlist{
  color: white;
}
